<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="/app/vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="/app/vendor/silverstripe/framework/tests/bootstrap.php"
         cacheDirectory="/app/.phpunit.cache"
         colors="true"
         executionOrder="random"
         resolveDependencies="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="unit">
            <directory>/app/vendor/wedevelopnl/silverstripe-admintoolbar/tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>/app/vendor/wedevelopnl/silverstripe-admintoolbar/tests/Integration</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>/app/vendor/wedevelopnl/silverstripe-admintoolbar/tests/Functional</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">/app/vendor/wedevelopnl/silverstripe-admintoolbar/src</directory>
        </include>
    </source>
</phpunit>
