<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/silverstripe/framework/tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         executionOrder="random"
         resolveDependencies="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="functional">
            <directory>vendor/wedevelopnl/silverstripe-admintoolbar/tests/Functional</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">vendor/wedevelopnl/silverstripe-admintoolbar/src</directory>
        </include>
    </source>
</phpunit>
