parameters:
    level: 7
    reportUnmatchedIgnoredErrors: true
    paths:
        - src
    bootstrapFiles:
        - vendor/syntro/silverstripe-phpstan/bootstrap.php

includes:
    - vendor/syntro/silverstripe-phpstan/phpstan.neon