body.has-admin-toolbar {
    padding-bottom: 30px;
}

#admin-toolbar {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #e9f0f4;
    color: rgb(79, 88, 97);
    display: block;
    padding-right: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 9999999999;
    height:30px;
    box-shadow: rgba(0,0,0,0.15) 0px -1px 1px;
}

.admin-toolbar-menu {
    box-sizing:border-box;
    height:30px;
    line-height:1;
    float:left;
    margin-left:5px;
    margin-right:5px;
}

.cms-icon {
    margin-right: 25px;
    float:left;
    margin-left:5px;
}

.admin-toolbar-menu > span.title {

}

.admin-toolbar-menu > ul {
    position: absolute;
    bottom: 30px;
    background-color: #e9f0f4;
    margin: 0;
    padding-left: 30px;
    list-style-type: none;
    padding-right: 5px;
    box-shadow: rgba(0,0,0,0.15) 0px -1px 1px;
    display:none;
    opacity:0;
    transition: opacity 200ms, display 200ms;
}

.admin-toolbar-menu:hover > ul,
.admin-toolbar-menu > ul:hover {
    display: block;
    transition: opacity 200ms, display 200ms;
    opacity:1;
}

#admin-toolbar a {
    color: rgb(79, 88, 97);
    text-decoration: none;
}

#admin-toolbar a:hover {
    background: #d8e4eb;
}

#admin-toolbar > #admin-toolbar-toggle {
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    background: #d8e4eb;
    font-size: 14px;
    cursor: pointer;
}
#admin-toolbar > #admin-toolbar-toggle:hover {
    background: #5589a7;
    color: #FFF;
}

#admin-toolbar.admin-toolbar-collapsed {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-left: 1px solid #CCCCCC;
}

#admin-toolbar #admin-toolbar-toggle span.admin-toolbar-visible-collapsed {
    display: none;
}
#admin-toolbar.admin-toolbar-collapsed #admin-toolbar-toggle span.admin-toolbar-visible-collapsed {
    display: block;
}
#admin-toolbar #admin-toolbar-toggle span.admin-toolbar-hidden-collapsed {
    display: block;
}
#admin-toolbar.admin-toolbar-collapsed #admin-toolbar-toggle span.admin-toolbar-hidden-collapsed {
    display: none;
}

.admin-toolbar-hidden {
    display:none;
}

dialog.admin-toolbar-queries-button {
    width: 80%;
    height: 80%;
    border: 0;
    box-shadow: 0px 0 2px black;
}

dialog.admin-toolbar-queries-button li {
    list-style:none;
}

dialog.admin-toolbar-queries-button::backdrop {
    background-color: rgba(0, 0, 0, 0.65);
}


