dialog.admin-toolbar-queries-button {
    width: 80%;
    height: 80%;
    border: 0;
    box-shadow: 0px 0 2px black;
}

dialog.admin-toolbar-queries-button li {
    list-style:none;
}

dialog.admin-toolbar-queries-button::backdrop {
    background-color: rgba(0, 0, 0, 0.65);
}
